<!--{% extends 'base.html' %}

{% block head %}
<title>Edit Page</title>
{% endblock %}

{% block body %}
<form action="/dashboard/edit/{{post.id}}" method="POST">
    Title: <input type="text" name="title" id="title" value={{post.title}}>
    <br>
    Post: <textarea class=" form-control rounded-0" style="max-width: 300px;" name="content" id="content" value={{post.content}}></textarea>
    <br>
    Author: <input type="text" name="author" value={{post.author}}> <br>
    <input type="submit" value="Post">
</form>
{% endblock %}-->