{% extends 'base.html' %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">FlaskBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li Class= "nav-item active">
            <a class="nav-link" href="/friends">Friends</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " href="/logout" tabindex="-1" aria-disabled="false">Logout</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 float-right" action='/search' method="POST">
        <input class="form-control mr-2" type="search"placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <p align="center">Friends</p>
  <div align="center" class="col" style="width: 50%;margin-left: 25%;">
  {% for user in friends %}
  {% set users = User.query.filter_by(username=user).first() %}
  {% if (users != '') and (users != None) %}
  <div class="panel panel-default">
    <div class="panel-body">
        <embed src="{{users.profile_pic}}" width="10%" height="10%"><br>
<a href="/user/{{users.username}}" style="top: 100%;">{{ users.firstname }}
{{users.lastname}}</a><br>
<a href="remfriend/{{users.username}}" class="btn btn-small btn-sm btn-danger" >UnFriend</a>
</div></div>
{% endif %}
{% else %}
No Friends ;-(
{% endfor %}
</div>
{% endblock %}
